<app-user-nav></app-user-nav>
<div class="container">
    <form [formGroup]="formValue">
        <div  class="form-group">
          <label >To </label>
            <input class="form-control" id="To"  placeholder="To" formControlName="ArrivalStation">
        </div>
        <div class="form-group">
          <label >From</label>
          <input type="text" class="form-control" id="From" placeholder="From" formControlName="DepartureStation">
        </div>
        <div class="form-group">
        <label for="exampleInputEmail1">Date</label>
            <input type="date" class="form-control" id="Date"  placeholder="Date" formControlName="Date">

        </div>
        <button class="btn btn-primary" (click)="SearchTrain()" >Search</button>
      </form>
</div>

<table class="table mt-4">
    <thead>
        <tr>
            <th>Train Id</th>
            
            <th>Name</th>
            <th>Arrival Time</th>
            <th>Departure Time</th>
            <th>Arrival Date</th>
            <th>Departure Date</th>
            <th>Arrival Station</th>
            <th>Departure Station</th>
            <th>FirstAC</th>
            <th>SecondAC</th>
            <th>Sleeper</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody >
        <tr class="tbody" *ngFor="let row of trainData" >
            <td>{{row.TrainId}}</td>
            <td>{{row.Name}}</td>
            <td>{{row.ArrivalTime}}</td>
            <td>{{row.DepartureTime}}</td>
            <td>{{row.ArrivalDate}}</td>
            <td>{{row.DepartureDate}}</td>
            <td>{{row.ArrivalStation}}</td>
            <td>{{row.DepartureStation}}</td>
            <td>{{row.FirstAC}}</td>
            <td>{{row.SecondAC}}</td>
            <td>{{row.Sleeper}}</td>
            <td>
                <button class="btn btn-primary" (click)="GetTrainById(row.TrainId)">Book Now</button>
            </td>
        </tr>
       
    </tbody>
    
    
</table> 

